[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
nltk = "*"
numpy = "*"
tensorflow = "*"
keras = "*"
keras-preprocessing = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9   "
